<div class="page-header">
  <%= link_to new_player_path, :class => 'btn btn-primary' do %>
    <i class="icon-plus icon-white"></i>
    New Player
  <% end %>
  <h1>Listing players</h1>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Image</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Nickname</th>
      <th>Nationality</th>
      <th>Age</th>
      <th>Position</th>
      <th>Team</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody id="players">
    <%= render @players %>
  </tbody>

  <div id="paginator">
    <%= paginate @players, :remote => true%>
  </div>
</table>
