<div class="page-header">
  <%= link_to game_performances_path, :class => 'btn' do %>
    <i class="icon-list-alt"></i>
    Back
  <% end %>
  <h1>New game_performance</h1>
</div>

<%= render 'form' %>
