<div class="page-header">
  <%= link_to sponsor_companies_path, :class => 'btn' do %>
    <i class="icon-list-alt"></i>
    Back
  <% end %>
  <h1>New sponsor_company</h1>
</div>

<%= render 'form' %>
